node_modules
npm-debug.log
build
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.vscode
.idea
*.log
coverage
.DS_Store
.editorconfig
.prettierignore
.prettierrc
vite.config.ts
vitest.config.ts
tsconfig.json
tailwind.config.cjs
postcss.config.cjs
nginx.conf
docker-entrypoint.sh
Dockerfile
docker-compose.yml
Jenkinsfile*
JENKINS_SETUP.md
